*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;;
    /* width: 0px; */
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-y: scroll;
    /* background-color: #1c6fb3; */

}

.block,
a {
    width: 200px;
    height: 200px;

}

@font-face {
    font-family: recolata;
    src: url(../static/recolata.otf);
}

@font-face {
    font-family: Salvaje;
    src: url(../static/Salvaje.otf);
}

.title {
    padding-top: 30px;
    font-family: recolata;
    color: rgba(68, 68, 173, 0.714);
    font-size: 40px;
    font-weight: 100;
    text-align: center;
    text-transform: capitalize;

}

.popup,
.popup2 {
    display: none;
    position: absolute;
    color: white;
    text-align: center;
    border-radius: 50%;
    pointer-events: none;
    /* cursor: pointer; */
}

.popup {
    border: solid 5px rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    transform: translate(-50px, -50px);
}

.popup2 {
    border: solid 1px rgb(255, 255, 255);
    width: 140px;
    height: 140px;
    transform: translate(-70px, -70px);
}


.area,
.area2 {
    background: linear-gradient(180deg, rgba(232, 232, 232, 0.1) 0%, rgba(103, 103, 103, 0.1) 50%, rgba(129, 129, 130, 0.4) 100%);
}




.area {

    display: inline-block;
    grid-area: a1;

}

.area2 {
    display: inline-block;
    grid-area: a2;
}


.overlay2 {
    /* background-color: rgba(127, 255, 212, 0.379); */
background: linear-gradient(180deg, rgba(0, 255, 217, 0.4) 0%, rgba(42, 105, 109, 0.4) 50%, rgba(101, 141, 210, 1) 100%);


}
.gradient1,
.gradient2 {
    /* grid-area: a2; */
    /* background: linear-gradient(180deg, rgba(0, 255, 217, 0.3) 0%, rgba(42, 105, 109, 0.3) 50%, rgba(101, 141, 210, 0.8) 100%); */
    border-radius: 20px;
    position: absolute;
    width: 500px;
    height: 700px;
}

.gradient1 {
    grid-area: a1;
}
.gradient2 {
    grid-area: a2;
}


.area,
.areaShow,
.areaShow2,
.area2 {
    cursor: none;
    width: 500px;
    height: 700px;
    margin: auto 0;
    /* height: 80vh; */
    /* background: linear-gradient(180deg, rgba(0,212,255,0.4) 0%, ≈ 57%, rgba(101,141,210,1) 100%); */
    border-radius: 20px;
}


.parentArea {
    /* padding: 2vh 3vw; */
    margin: 0px auto;
    margin-bottom: 20px;
    text-align: center;
    font-family: recolata;
    color: rgba(68, 68, 173, 0.714);
    text-align: center;
    /* background-color: white; */
    display: grid;
    overflow: hidden;
    max-width: 1060px;
    grid-template-areas:

        '.   s s s . '
        ' ss ss ss ss ss'
        ' a1 a1 k a2 a2 '
        '. . . . .'
        '. . . . .'
    ;
}



.nothing {
    color: rgb(220, 220, 220);
    background-color: rgba(100, 255, 200, 0.3);

}

/* #knob1 {
    width: 30px;
    height: 30px;
    display: inline-block;
} */
.hiddenKnobs p {
    color: rgb(206, 206, 206);
    transition: background-color .4s ease-in-out;
}

.hiddenKnobs p:active {
    color: rgba(68, 68, 173, 1);
}


.knob {
    display: inline-block;
    width: 50px;
    border-radius: 50%;
    background-color: rgba(211, 211, 211, 0.3);
    margin-bottom: 10px;
}

.allKnobs {
    /* display: inline-block; */
    width: 60px;
    font-size: 12px;
    /* color: rgba(211, 211, 211, 0.3) */
    /* height: 200px; */
    background-color: white;
    grid-area: k;
    /* height: 705px; */
    /* display: grid; */
}

.knobHolder {
    display: inline-block;
    /* margin-left: 10px; */
}


#oscilloscope,
#oscilloscope2 {
    position: absolute;
    opacity: 0.185;
    z-index: -200;
    padding: 10% 0;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    height: 700px;
    width: 500px;


}

#canvas {
    width: 100%
}


.popUpMenu {
    position: absolute;
    background-color: white;
    box-shadow: 5px 5px 7px 2px #888888;
    border-radius: 10px;
    cursor: pointer;
    transform: translate(-8px, -18px);
}

.popUpMenu ul {
    list-style: none;
    text-align: left;
    font-size: 14px;
    padding: 10px 0;

}

.popUpMenu li {
    padding: 5px 25px 5px 8px;
}

.popUpMenu li:hover {
    background-color: rgba(68, 68, 173, 0.714);
    color: white;
}

.popUpMenu span {
    padding: 0 10px;
    color: rgb(171, 171, 171);
}


.x {
    position: absolute;
    transform: translate(-25px, -35px);
    cursor: pointer;
    width: 20px;
    font-family: arial;
    height: 20px;
    border: 1px solid rgba(68, 68, 173, 0.714);
    text-align: center;
    padding-top: 1px;
    border-radius: 50%;
    font-size: 16px;
    color: rgba(68, 68, 173, 0.714);
}

.x:hover {
    color: white;
    /* border:2px solid white; */
    background-color: brown;
}

.cursor,
.cursor2 {
    width: 24px;
    height: 24px;
    border: 4px solid white;
    border-radius: 50%;
    position: fixed;

    pointer-events: none;
    transform: translate(-10px, -10px);
    animation: cursorAnim 1s infinite alternate;

    /* transition: all .2s ease-out; */
}

.cursor:active,
.cursor2:active {
    border: 3px solid rgb(255, 0, 0);
}

@keyframes cursorAnim {

    from {
        border: 4px solid white;
    }

    to {

        box-shadow: 0px 0px 20px white;
    }
}

/* SETTINGS HOUSES */
.settingsButton {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.7);
    color: rgb(159, 159, 159);
    width: 40%;
    position: inherit;
    border: 1px solid rgba(201, 201, 201, 0.4);

    display: block;
    /* margin: 20px auto 0px auto;  */
    cursor: pointer;
    user-select: none;
    padding: 3px 10px;
    margin: 10px auto;
    border-radius: 14px;
    transition: box-shadow .2s;
    font-family: 'poppins';
    font-weight: 200;
    position: relative;
}


.settingsButton:hover {
    box-shadow: 0px 0px 20px rgba(187, 187, 187, 0.2);
}

.settingsButton .arrow {
    font-size: 8px;
    vertical-align:middle;
    display: inline-block;
    padding: 5.5px;
    position: inherit;
    
}

.settingsButton:active {
    background-color: rgba(181, 181, 181, 0.9);

}

.arrowFlip {
    transform: rotate(180deg);

}

.presets {
    width: 200px;
    text-align: center;

}




.settingsArea {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 8px 20px rgba(101, 101, 101, 0.2);
    color: rgb(159, 159, 159);
    
    border-radius: 14px;
    /* overflow: hidden; */
    font-size: 20px;
    height: 100px;;
    grid-template-columns: auto 200px auto;
    /* align-items: center; */
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
    width: 1060px;
    /* overflow: auto; */

}



.setArea{
    grid-area: ss;
    display: grid;
    height: 240px;
    grid-template-areas:
        'one space two'
    ;
    box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}


.presetsArea {
    overflow:visible;
    font-family: 'Nanum Myeongjo', serif;
    font-family: recolata;
    letter-spacing: -0.4px;
    user-select: none;
    display: grid;
    grid-template-areas:
        'up . wea';
    grid-template-columns: 500px 60px auto;
    margin-bottom: 20em;
    height: 300px;
}



/* USER PRESET TABLE STYLES */

#newmessage {
    width: 161px;
    height: 34px;
    display: inline-block;
    border-radius: 5px;
    border: 2px solid rgba(68, 68, 173, 0.3);
    padding: 5px;
    font-family: 'poppins';
    letter-spacing: -0.7px;

}
#newmessage:focus {
    outline: none;
    border: 2px solid rgba(68, 68, 173, 0.7);
}

#newmessage::placeholder {
    color: lightgray;
    
}

#submit {
    /* width: 300px; */
    display: inline-block;
    font-family: recolata;
    padding: 5px 16px;
    border: 2px solid rgba(68, 68, 173, 0.3);
    border-radius: 5px;
    cursor: pointer;
    transform: translateY(2px);
    height: 34px;
}
#submit:hover {
    background-color: rgba(68, 68, 173, 0.7);
    color: white;
}

#submit:focus {
    outline: none;
}

#submit span {
    /* padding-bottom:5px; */
    display:inline-block;
    vertical-align: middle;
    transform: translateY(-2px);

}

#submit i {
    vertical-align: middle;
    transform: translateY(-4px);

}
#submit:hover i {
   color: white;
}

.messageSubmit {
    /* display: flex; */
    padding: 5px;
    text-align: center;
    vertical-align: middle;
    /* align-items: center; */
    
}

.messageSubmit button {
background-color: white;
}

.presetsArea tr {

    border-bottom: 1px solid rgba(68, 68, 173, 0.3);
}

.presetsArea td {
    border-spacing: 0px;
    overflow: hidden;
    text-overflow: ellipsis; 
    box-sizing: border-box;

}

table {
    text-align: center;
    font-family: 'poppins';
    font-weight: 300;
    letter-spacing: -0.7px;
}

thead {
    width: 100%;
    /* text-align: left; */
    font-size: 11px;
    color: grey;
    text-transform: uppercase;
}

.voteCount td {
    width: 20px;
    text-align: center;
}

.voteCount tr {
    width: 20px;
    text-align: center;
}

.themessage {
    display: block; 
    width: 170px;
    padding: 8px;
    height: 38px;
    box-sizing: content-box;
    text-align: start;
    font-size: 14px;

}



tbody tr:hover {
    height: 30px;
    background-color: rgba(68, 68, 173, 0.05);
}



table {
    border-collapse: collapse;
    background-color: white;
  }

.presetsArea i {
    font-size: 20px;
    cursor: pointer;
    color: rgba(68, 68, 173, 0.7);
    margin-right: 3px;
    margin-top: 5px;
    
}

.userPresetsHouse {
    grid-area: up;
    padding-left: 10px;
    border-radius: 13px;
    background-color:  #bdc1e1d2;
    border-radius: 13px;
    font-family: recolata; 
    transition: background-color .2s;
}
.userPresetsHouse:hover {
    background-color:  #BDC1E1;
}


.userpresets {
    height: 210px;
    overflow-y : auto;
    width: 290px;
    background-color: white;
    border-radius: 8px;
    margin: 0px auto;
    margin-top: 10px;
    padding-left: 5px;
    /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
    width: 1em;
    height: 0.7em;
  }
   
 body::-webkit-scrollbar-track {
    background-color: rgba(68, 68, 173, 0.1);
  }
   
 body::-webkit-scrollbar-thumb {
    background-color: rgba(68, 68, 173, 0.3);

    border-radius: 20px;
  }

  .userpresets::-webkit-scrollbar {
    width: 0.51em;
    height: 0.7em;
  }
   
  .userpresets::-webkit-scrollbar-track {
    border-radius: 20px;
    background-color: rgb(223, 247, 238);
  }
   
  .userpresets::-webkit-scrollbar-thumb {
    background-color: #9296b1;
    z-index: 50;
    border-radius: 20px;
  }

.upvote,
.downvote,
.delete {
    transition: all .1s ease-in-out;
    
}
.upvote:hover {
    color: rgb(84, 203, 84);
    
}

.downvote:hover,
.delete:hover {
    color: rgb(191, 60, 60); 
}

.load div {
    margin: 0px 18px 0px 18px;
    color: rgba(0, 128, 0, 0.6);
    border: 1px solid rgba(0, 128, 0, 0.6);
    padding: 4px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}

.load:hover div {

    background-color: rgba(0, 128, 0, 0.4);
    color: white;

}
.load:active div {

    background-color: rgba(0, 128, 0, 1);


}


/* WEATHER STUFF */


.weatherHouse {
    grid-area: wea;
    /* display: grid; */
    color: white;
    padding-left: 10px;
    background-color:  #bdc1e1d2;
    border-radius: 13px;
    font-family: recolata; 
    transition: background-color .2s;

}

.weatherHouse:hover {
    background-color:  #BDC1E1;

}

.weatherHouse:hover .presetsTitle {
    letter-spacing: 3px;

}
.actualWeatherImage {
    filter: grayscale(100%)
}
.presetTitle {
text-align: center;
font-size: 16px;
color: white;
width: 240px;
margin: 0 auto;
margin-top: 7px;
border: 1px white solid;
border-left: none;
border-right: none;
letter-spacing: 0px;
transition: letter-spacing .2s;
font-family: 'poppins';
font-weight: 200;
}

.set2 .presetTitle,
.set1 .presetTitle {
    margin-top: 0px;
}

.weatherHouse:hover .presetTitle {
    letter-spacing: 2px;
}

.userPresetsHouse:hover .presetTitle {
    letter-spacing: 2px;
}

.getLat {
    display: block;
    margin: auto;
    width: 160px;
    height: 50px;
    margin-top: 80px;
    /* margin: 20px; */
    cursor: pointer;
    font-family: recolata; 
    border-radius: 15px;
    border: 1px none white;
    box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
    transition: background-color .2s,  color .2s;
}
.getLat:focus {
    outline: none;

}

.getLat:hover {
    background-color: rgba(68, 68, 173, 0.3);
    color: white;
}


.weatherImage {
    box-sizing: border-box;
    height: 100px;
}
.weatherSides {

    display: block;
}
.weatherLeft {
    /* padding: auto 0; */
    display: inline-block;
    width: 200px;
    /* background-color: green; */
    height: 250px;
}

.weatherRight {
    display: inline-block;
    float: right;
    /* background-color: red; */
    width: 280px;
    padding-top: 15px;
    font-size: 16px;
    font-family: 'poppins';
}
.currentMode {
    font-weight: 600;
    text-transform: uppercase;
    color:aquamarine;
}

.offline {
    color:rgba(68, 68, 173, 0.9);
}

.loading {
    color:aquamarine;
    animation: loading 1s infinite alternate;
}


@keyframes loading {

    from {
        color:aquamarine;
    }

    to {
        /* border: 4px solid  rgba(68, 68, 173, 0.714); */
        color:rgb(133, 127, 255);
    }
}

.caps {
    text-transform: capitalize;
}
/* TOP SETTINGS STUFF */
.space {
    grid-area: space;
  
}

.settingsHouse {
    grid-area: s;

}


.set1,
.set2,
.keySettings {
    font-size: 16px;
    padding: 10px;
    width: 250px;
    text-align: left;
    color: white;

    display: flex;
    flex-wrap: wrap;
    border-radius: 14px;
    /* margin: 0px auto; */
}

.set1 {
    grid-area: one;
    justify-self: start;
}

.set2 {
    grid-area: two;
    justify-self: end;
}

.set1,
.set2 {
    display: block;
    background-color:  #bdc1e1d2;
    width: 370px;
    transition: background-color .2s;
}

.set1:hover,
.set2:hover {
    background-color:  #BDC1E1;
}

.set2:hover .presetTitle {
    letter-spacing: 1px;
}

.set1:hover .presetTitle {
    letter-spacing: 1px;
}

.toneLeft{
    padding: 10px;
    padding-top: 25px;
    display: inline-block;
    width: 40%;
    margin-left: 5%;
    float: left;
}

.toneRight{
    padding: 10px;
    padding-top: 25px;
    display: inline-block;
    width: 40%;
    float: right;
    margin-right: 4%;
}
.keySettings {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(68, 68, 173, 0.9);
    width: 100%;
    padding: 0px;
    /* flex-direction: column; */
}
.musicalMoodBox,
.musicalKeyBox {
    /* background-color: salmon; */
    padding: 7px 0;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: background-color .2s ease-in-out;
}

.musicalKeyBox {
    justify-content: center;
    width: 100%;
    flex-direction:row;
    margin-top: 10px;
    /* display: block; */

}

.musicalMoodBox {
    justify-content: center;
    width: 100%;
    flex-direction:row;

    padding-top: 5px;
    /* display: flex; */
}

.musicalMoodBox:hover,
.musicalKeyBox:hover {
    /* transform: scale(1.01); */
    background-color:rgba(68, 68, 173, 0.2); 
}



.or {
    margin: 10px 0;
    flex-basis: 100%;
    text-align: center;
    color: #888888;
    border-top: 1px solid rgb(228, 228, 228);
    border-bottom: 1px solid rgb(233, 233, 233);
    font-family: 'poppins';
    font-weight: 200;
   
}

.scale {
    margin-bottom: 0;
    color: #494949;
    border-top: 1px solid rgba(201, 201, 201, 0.4);
    border-bottom: 1px solid rgba(201, 201, 201,0.4);
}

/* SETTINGS CHECKBOX */
.container {
    border-radius: 5px;
    cursor: pointer;
    position: relative;
}

.container:hover {
    background-color: white;
    cursor: pointer;
    color: rgba(68, 68, 173, 1);

}

.container label {
    padding-left: 30px;
    display: block;
    cursor: pointer;
    /* width: 250px; */
    height: 30px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;

    border-radius: 50%;
    transition: background-color .1s;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #1c6fb3;
}

/* input:checked ~ .container {boo
    background-color: #2196F3;
  } */


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;

    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transform: translate(-2px, -1px) rotate(45deg)
}

/* KEY SELECTION */



.selectedNote {
    border: 1px solid rgba(68, 68, 173, 1);;
    background-color: white;
    padding: 5px;
    width: 70px;
    margin-left: auto;
    text-transform: capitalize;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    user-select: none;
    /* display: inline-block; */
    display: inline-flex;
    position: relative;
    /* display: flex; */
}

.keySettings .material-icons {
    display: flex;
    font-size: 15px;
    /* vertical-align: bottom; */
    padding-bottom: 3px;
}

.keyselectors {
    display: flex;

}
.selectedNote:hover,
.selectedMood:hover,
.selectedKey:hover {
    color: white;
    background-color: rgba(68, 68, 173, 1);
}

.notes,
.keys,
.moods {
    position: absolute;
    background-color: rgb(194, 219, 238);
    width: 70px;
    padding-left: 0px;
    padding-top: 10px;
    /* border: 1px solid rgba(68, 68, 173, 1); */
    /* font-size: 12px; */
    user-select: none;
    border-radius: 5px;
    z-index: 5000;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.notes {
    transform: translate(15px, 33px);
}
.keys {
    width: 100px;
    /* position: fixed; */
    transform: translate(84px, 33px);
}

.moods {
    /* position: fixed; */
    width: 150px;
    transform: translate(24px,0px);
    font-size: 14px;
}

.selectedKey {
    display: inline-flex;
    border: 1px solid rgba(68, 68, 173, 1);
    padding: 5px;
    width: 100px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    margin-right: auto;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /* margin-left: -4px; */
    text-transform: capitalize;
    border-left: 0px none;
    background-color: white;

}
.selectedMood {
    display:flex;
    justify-content: flex-end;
    border: 1px solid rgba(68, 68, 173, 1);
    padding: 5px;
    width: 150px;
    font-size: 15px;
    user-select: none;
    cursor: pointer;
    margin: 0px auto;
    border-radius: 5px;
    text-transform: capitalize;
    background-color: white;

}
.selectedMood .material-icons,
.selectedKey .material-icons,
.selectedNote .material-icons   {
    display: flex;
    
    padding-top: 3px;
    /* text-align: end; */
}

/*  */
.actualMood,
.actualKey,
.actualNote {
    display: inline-block;
    margin-right: auto;
    /* padding-top: -5px; */
}
.keytypes,
.keytypes2 {
    display: block;
    text-align: center;
    /* margin-bottom: 10px; */
    /* margin-top: 10px; */
    width: 100%;
}





.formkey .checkmark {
    /* background-color: red; */
    margin-left: 5px;
}


.test {

    padding: 10px;
}

.hiddendiv {
    display: none;
}

.grey {
    color: #b8b8b8;
    border-color: #b8b8b8;
}


.notification {
    position: absolute;
    /* background-color: rgb(164, 252, 164); */
    color: rgba(216, 216, 216, 0.8);
    border: 1px solid rgba(68, 68, 173, 0.5);
    /* box-shadow: 0 2px 10px rgba(128, 128, 128, 0.1); */
    display: block;
    font-size: 15px;
    
    font-family: 'Poppins';
    text-transform: uppercase;
    padding: 5px 10px;
    border-radius: 10px;
    /* top: 30px;
    left: 14%; */
    background-color: rgba(255, 255, 255, 0.66);
    transform: translate(0px,-40px);
    animation: cursorAnim 1s infinite alternate;

}

@keyframes cursorAnim {

    from {
        /* border: 4px solid white; */
    }

    to {
        /* border: 4px solid  rgba(68, 68, 173, 0.714); */
        color: rgba(68, 68, 173, 0.714);
        /* box-shadow: 0 2px 10px 1px rgba(68, 68, 173, 0.2); */
        
    } }

.effects {
    border: 1px solid lightgrey;
    font-size: 8px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 50px;
    margin: 0 auto;
    color: rgb(187, 187, 187);
    padding: 0 5px;
    transition: all .2s;
    font-family: 'poppins';
    height: 13px;
}
.effects:active {
    background-color: rgba(68, 68, 173, 0.8);
    color: white;
    
    
}

.effects:hover {
    background-color: rgba(68, 68, 173, 0.8);
    color: white;
    /* font-size: 10px; */
    width: 54px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-family: recolata;
    font-size: 11px;
    padding: 20px;
    color: lightgrey;
    z-index: -500;
}

@media only screen and (max-width: 1059px) {
    html {
        width: 100%;
        overflow-y: none;
    }
    .title {
        font-size: 30px
    }

    .settingsButton {
        font-size: 10px;
    }
    
    .parentArea {
        grid-template-columns: repeat(1, 1fr);
            grid-template-areas:
            's s s s s'
            'ss . . . .'
            'a1 a1 a1 a1 a1'
            'k . . . .'
            'a2 . . . .'
            
            ;
            width: 95%;
            overflow: none;
            /* grid-template-rows: auto; 
            grid-template-columns:  auto; */
    }

    .gradient1,
    .gradient2 {
    border-radius: 20px;
    /* position: absolute; */
    width: 95%;
    height: 700px;
    margin-bottom: 50px;

}


.setArea{

    grid-template-areas:
        'one'
        'two' 
        'space'
    ;
    
}

.settingsArea {
    width: 370px;
    height: 700px;
    grid-template-columns: auto;
}




.set1 {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.set2 {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;

}


.presetsArea {

    grid-template-areas:
        'up' 
        'wea'; 
    }
    #oscilloscope,
    #oscilloscope2 {
        height: 700px;
        width: 95%;
    
    
    }

    .area,
.areaShow,
.areaShow2,
.area2 {
    cursor: pointer;
    width: 100%;
    /* height: 100%; */
    /* margin: auto 0; */
    border-radius: 20px;
    margin-bottom: 20px;
} 

.allKnobs {
    width: 100%;
    margin: 0 auto;
}



.knobHolder {
    margin-left: 2%;
}

.allKnobs {
    height: 100%;
}

.effects,
.effects:hover {
    height: 30px;
    width: 90px;
    font-size: 15px;
    margin-bottom: 20px;
}

.keySettings {
    background-color: white;
}

.cursor,
.cursor2 {
    display: none;
}
}

.about {
    background-color:  rgb(209, 209, 253);
    color: white;
    font-size: 17px;
    font-family: 'poppins';
    display: inline-block;
    position: fixed;
    padding: 8px 10px;
    border-bottom-left-radius: 15px;
    right: 0;
    width: 40px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
    z-index: 2000;
}

.about:hover {
    background-color:  rgb(145, 145, 207);
}

.about:active {
    background-color: red;
}
.aboutinfo {
    background-color:  rgb(145, 145, 207);
    opacity: 0.98;
    color: white;
    display: block;
    width: 100vw;
    height: 100vh;
    position: fixed;
    font-family: 'poppins';
    text-align: center;
    z-index: 2000;
    font-size: 20px;
}

.innerabout {
    padding: 5% 1%;
    
    max-width: 600px;
    margin: auto;


}

.innerabout h1 {
    font-family: recolata;
}

.innerabout p {
    font-size: 14px;
    text-align: left;
   
}

.aboutinfo a {
    color: white;
}

